[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
sqlalchemy = "*"
pydantic = "*"
python-multipart = "*"
python-dotenv = "*"
psycopg2 = "*"
psycopg2-binary = "*"
uuid = "*"
pyjwt = "*"
passlib = {extras = ["bcrypt"], version = "*"}

[dev-packages]

[requires]
python_version = "3.10"
